langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.1.2
langchain-google-genai==2.0.5
langchain-openai==0.2.10
openai==1.55.3
langchain-groq==0.2.4
faiss-gpu
langchain-text-splitters==0.3.2
pypdf==5.1.0
PyPDF2==3.0.1
python-dotenv==1.0.1
